<div class="container">
    <form #f="ngForm" autocomplete="off">
  
      <div class="ui-g">
        <div class="ui-g-12">
          <h1>Detalhe Usuario</h1>
        </div>
        
        <div class="ui-g-12 ui-fluid">
          <b>Nome:</b> {{usuario.name}}        
        </div>              
        <div class="ui-g-12 ui-fluid">
          <b>User Name:</b> {{usuario.username}}        
        </div>
          
        <div class="ui-g-12 ui-fluid">
          <b>Email:</b> {{usuario.email}}        
        </div>              
        <div class="ui-g-12 ui-fluid">          
          <b>Address:</b> 
            <div class="ui-g-12 ui-fluid">
             street : {{usuario.address.street}} 
            </div>
            <div class="ui-g-12 ui-fluid">
              suite : {{usuario.address.suite}}   
            </div>
            <div class="ui-g-12 ui-fluid">
              city : {{usuario.address.city}}   
            </div>
            <div class="ui-g-12 ui-fluid">
              zipcode : {{usuario.address.zipcode}}           
            </div>                    
        
        
        <div class="ui-g-12 ui-fluid">          
          <b>Geo:</b> 
            <div class="ui-g-12 ui-fluid">
              lat : {{usuario.address.geo.lat}} 
            </div>
            <div class="ui-g-12 ui-fluid">
              lng : {{usuario.address.geo.lng}}   
            </div>                            
        </div>          
      </div>

      <div class="ui-g-12 ui-fluid">
        <b>phone:</b> {{usuario.phone}}        
      </div> 
      
      <div class="ui-g-12 ui-fluid">
        <b>website:</b> {{usuario.website}}        
      </div> 
      
      <div class="ui-g-12 ui-fluid">          
        <b>Company:</b> 
          <div class="ui-g-12 ui-fluid">
            name : {{usuario.company.name}} 
          </div>
          <div class="ui-g-12 ui-fluid">
            catchPhrase : {{usuario.company.catchPhrase}}    
          </div>
          <div class="ui-g-12 ui-fluid">
            bs : {{usuario.company.bs}} 
          </div>             
      </div>
     
      <div class="ui-g-12 cadastro-acoes">                     
         <a routerLink="/usuario">Voltar para a pesquisa</a>
      </div>          
  
      </div>
  
    </form>
  </div>
  