<p-table [columns]="cols" [value]="usuarios" dataKey="id">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em"></th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
        <tr>
            <td>
                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
                
            </td>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
            <td [attr.colspan]="columns.length + 1">
                <div class="p-grid -fluid" style="font-size:16px;padding:20px">  
                    <div class="p-col-12 p-md-3" style="text-align:center">
                        
                    </div>                  
                    <div class="p-col-3 p-md-9">
                        <div class="p-grid">
                            <div class="p-col-12">                                
                                <a   [routerLink]="['/usuario/', rowData.id]"><b>Username:</b> {{rowData.username}}</a>
                            </div>                                                  
                        </div>
                    </div>

                    <div class="p-col-3 p-md-9">
                        <div class="p-grid">
                            <div class="p-col-12">
                                <b>Email:</b> {{rowData.email}}
                            </div>                                                  
                        </div>
                    </div>
                    <div class="p-col-3 p-md-9">
                        <div class="p-grid">
                            <div class="p-col-12">
                                <b>Phone:</b> {{rowData.phone}}
                            </div>                                                  
                        </div>
                    </div>

                    <div class="p-col-3 p-md-9">
                        <div class="p-grid">
                            <div class="p-col-12">
                                <b>Cidade:</b> {{rowData.address.city}}
                            </div>                                                  
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>